
<div class="row">
	<div class="user-container">
		<div class="row">
			<div class="user-photo">
			</div>
			<div class="user-info">
			</div>
		</div>
	</div>

	<div id="tweets">
		<div class="tweet_text_outer">
			<div class="coke-image">
			</div>
	    	<div class="tweet_text">
	    	</div>
    </div>
	</div>
</div>
      