
<% @tweet = @client.search("#cocacola", result_type: "recent", lang: "en").first %>
<section id="tweets">
  <ul>
      <li><%= link_to @tweet.text, "https://www.twitter.com/#{@tweet}" %></li>
  </ul>
</section>