/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@-webkit-keyframes rise {
    from {bottom: 0px;}
    to {bottom: 300px;}
}

/* Standard syntax */
@keyframes rise {
    from {bottom: 0px;}
    to {bottom: 300px;}
}


.tweet_text {
	background-color: #fe001a;
	color: white;
	font-size: 2.5em;
	font-weight: bold;
	padding-top: 100px;
	padding-bottom: 10px;
	padding-right: 100px;
	padding-left: 100px;
	height: 350px;
}

.animate {
	-webkit-animation: rise 5s; /* Chrome, Safari, Opera */
  animation: rise 5s;
}

.text {
	display: inline;
	position: relative;
}

.space {
	height: 300px;
	background-color: #fe001a;
}

.hashtags {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 100px;
	padding-left: 100px;
}

.hashtag {
	padding: 5px;
	background-color: black;
	margin: 5px;
	border-radius: 5px;
	color: white;
}