/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// @import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
	font-family: 'Coke';
	src: asset-url('brimborion.ttf'),
	asset-url('brimborion.ttf') format('truetype');
	font-weight: bold;
  font-style: bold;
}

@font-face {
	font-family: 'coca-cola';
	src: asset-url('loki-cola.ttf'),
	asset-url('loki-cola.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
}

.tweet_text_outer {
	background-color: #fe001a;
	height: 350px;
}

.no-font {
	font-family: Serif;
	font-size: 1.7em;
	position: relative;
	top: 7px;
}

.no-font-hash {
	font-family: Serif;
}

.tweet_text {
	color: white;
	font-size: 3em;
	font-weight: bold;
	padding-top: 100px;
	padding-bottom: 10px;
	padding-right: 100px;
	padding-left: 100px;
	font-family: "Coke";
}

.small_tweet_text {
	color: white;
	font-size: 2em;
	font-weight: bold;
	padding-top: 100px;
	padding-bottom: 10px;
	padding-right: 100px;
	padding-left: 100px;
	font-family: "Coke";
}

.large_tweet_text {
	color: white;
	font-size: 7em;
	font-weight: bold;
	padding-top: 100px;
	padding-bottom: 10px;
	padding-right: 100px;
	padding-left: 100px;
	font-family: "Coke";
}

.coca-cola-logo {
	font-family: "coca-cola";
	font-size: 1.5em;
	position: relative;
	top: 9px;
	margin-bottom: -15px;
}

.text {
	display: inline;
	position: relative;
}

// .space {
// 	height: 300px;
// 	background-color: #fe001a;
// }

// .hashtags {
// 	padding-top: 10px;
// 	padding-bottom: 10px;
// 	padding-right: 100px;
// 	padding-left: 100px;
// }

.hashtag {
	padding: 7px;
	background-color: black;
	margin: 20px;
	color: white;
	font-family: "Coke";
	font-size: .7em;
}

.no-rotate {
	transform: rotateY(0deg);
}

.hash-div {
	margin: 15px;
	width: 100px;
	height: 20px;
}

// .hash-div::before {
// 	width: 5px;
// 	height: 32px;
// 	position: relative;
// 	left: 15px;
// 	top: 29px;
// 	background-color:rgba(0,0,0,0.5);
// }